<html xmlns:th="https://thymeleaf.org">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <!--Header started -->
        <div class="card-header bg-primary text-center text-white">
          <h3>Specialization data</h3>
        </div>
        <!--header ends -->
        <!--body started -->
        <div class="card-body">
          <table class="table">
            <tr class="table-hover bg-info text-white">
              <th>ID</th>
              <th>CODE</th>
              <th>NAME</th>
              <th>NOTE</th>
              <th>OPERATION</th>
            </tr>
            <tr th:each="ob:${allSpecialization}">
              <td th:text="${ob.id}"></td>
              <td th:text="${ob.specCode}"></td>
              <td th:text="${ob.specName}"></td>
              <td th:text="${ob.specNote}"></td>
              <td><a href="#">DELETE</a> | <a href="#">EDIT</a></td>
            </tr>
          </table>
        </div>
        <!--body ends -->
        <div class="card-footer">
          <span>message</span>
        </div>
      </div>
    </div>
  </body>
</html>
